In [1]:
import pandas as pd
import numpy as np
import re,uuid

In [4]:
df = pd.read_csv('../data/job_title_des.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277 entries, 0 to 2276
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Job Title        2277 non-null   object
 1   Job Description  2277 non-null   object
dtypes: object(2)
memory usage: 35.7+ KB

In [9]:
#cleaning the job titles and descriptions
df = df.drop_duplicates(['Job Description'])
df = df.dropna().reset_index(drop=True)
df['Job Description'] = df['Job Description'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', re.sub(r'\t', '', re.sub(r'(\n|\r)+', '\n', re.sub(r' +', ' ', x.strip())))))

In [10]:
df

                  Job Title                                    Job Description
0         Flutter Developer  We are looking for hire experts flutter develo...
1          Django Developer  PYTHONDJANGO DeveloperLead Job CodePDJ 04\nStr...
2          Machine Learning  Data Scientist Contractor\nBangalore IN\nRespo...
3             iOS Developer  JOB DESCRIPTION\nStrong framework outside of i...
4      Full Stack Developer  job responsibility full stack engineer react r...
...                     ...                                                ...
2253      Backend Developer  Job Summary\nPublished on 26 days ago\nVacancy...
2254   Full Stack Developer  business entity cisco umbrella focus cloudbase...
2255  Network Administrator  Urgently reqd in a college in Mohali\nNetwork ...
2256       Machine Learning  Key Responsibilities Team leads for small or m...
2257   Full Stack Developer  leslie hindman auctioneer one nation s leading...

[2258 rows x 2 columns]

In [12]:
#sampling the original dataframe
df_sample = df.sample(500, random_state=3)
df_sample.value_counts(['Job Title'])

Job Title
Java Developer            42
DevOps Engineer           38
Flutter Developer         37
Network Administrator     37
iOS Developer             37
Full Stack Developer      34
Wordpress Developer       33
Backend Developer         32
PHP Developer             32
Database Administrator    31
JavaScript Developer      31
Machine Learning          30
Node js developer         30
Django Developer          29
Software Engineer         27
Name: count, dtype: int64

In [17]:
df_sample.to_csv('../Data/sampled_job_title_des.csv', index=False)
for i, df_checkpoint in enumerate(np.array_split(df_sample, 5)):
    df_checkpoint.to_csv(f'../main_data/checkpoints/jd{i+1}.csv',index=False)

Resume Indexing

In [19]:
df_resume = pd.read_csv('../data/synthetic-resumes.csv')
df_resume = df_resume.reset_index(drop=False)

In [23]:
df_resumes = df_resume.rename(columns={"index": "ID"})
df_resumes.to_csv("../main_data/synthetic-resumes.csv", index=False)

In [24]:
df_resumes

      ID   ID                                             Resume
0      0    0   - :\nAs a recent graduate in Computer Science...
1      1    1   ()\n\nName: Jane Smith\n\nContact Information...
2      2    2  : \n\nName: Jane Doe\n\nAddress: 456 Main St, ...
3      3    3  : \n\nName: Jane Smith\nLocation: Bangalore, K...
4      4    4   ():\nName: John Doe\nContact Information: \nE...
..   ...  ...                                                ...
995  995  995  :\n\nFull Stack Developer\n\nAs a passionate d...
996  996  996   ():\n \nName: John Doe\n\nSummary:\nAn experi...
997  997  997   ():\n \nObjective:\nTo obtain a PHP Developer...
998  998  998   ():\nName: John Doe\nEmail: john.doe@email.co...
999  999  999  : \n\nName: John Doe\nLocation: Ahmedabad\nExp...

[1000 rows x 3 columns]